/* Navbar.css */

.navbar {
    display: flex;
    justify-content: space-between; /* This will distribute the elements evenly along the navbar */
    align-items: center;
    background-color: #d1e7f8;
    padding: 10px;
  }
  
  .navbar-brand {
    display: flex; /* Use flexbox for the title */
    align-items: center; /* Vertically center the elements inside the title */
    color: #404e67;
    font-weight: bold;
    font-size: 1.5rem;
  }
  
  .navbar-brand:hover {
    color: #404e67;
  }
  
  .nav-link {
    color: #404e67;
    font-weight: bold;
  }
  
  .nav-link:hover {
    color: #404e67;
  }
  
  @media (max-width: 991px) {
    .navbar-collapse {
      justify-content: flex-end; /* Align the elements to the right when the screen is small */
    }
  
    .navbar-nav {
      width: 100%;
      justify-content: flex-end; /* Align the elements to the right when the screen is small */
    }
  }
  